
# ------------------------------------------------------------------------------
# ArcShell Service Daemon
# ------------------------------------------------------------------------------

# Throw errors and log warnings if the process count exceeds number.
# arcshell_process_count_warning=200

# Do not start new processes if the process count exceeds this number.
# arcshell_process_count_max=275

# Kill all ArcShell processes and shutdown if the process count exceeds this number.
# arcshell_process_count_shutdown=350

# ------------------------------------------------------------------------------
# ArcShell Download
# ------------------------------------------------------------------------------

# The 'arc_download' function uses this URL to download updates. 
arcshell_download_url=

# ------------------------------------------------------------------------------
# Messaging
# ------------------------------------------------------------------------------

# Comma separated list of ArcShell administrator email addresses.
arcshell_admin_emails=

# From address to use for emails. Your SMTP provider may block if this is not 
# correctly defined.
arcshell_from_address=

# Message subject prefix. 
arcshell_message_prefix="[ArcShell]"

# Sets the default keyword for messaging when not otherwise provided.
arcshell_default_keyword="email"

# Note, if another program is used here contact support.
# "mail", "mailx", and "sendgrid" are the supported values here.
# If you need to use another program contact support.
arcshell_mail_program="mail"

# Your SendGrid API key if using SendGrid to send email.
arcshell_sendgrid_api_key=
