
# This file is run each time arcshell.config is run.

sch_disable_task "arcshell_monitor_critical_os_files_for_changes.sh"

# ------------------------------------------------------------------------------
# Cron Monitoring
# ------------------------------------------------------------------------------

# ArcShell copies cron_check.sh to this location. This makes it easy to 
# reference from your crontab file. ArcShell also inserts the correct shbang.

arcshell_cron_check_dir=


