
# This file is only run during setup. Setup is often run after making 
# configuration changes.

# ---------------------------------------------------------------------
# Scheduled Tasks
# ---------------------------------------------------------------------

# Resets enabled/disabled status to the default of enabled for all tasks.
sch_reset_tasks

# Monitor critical OS files for changes. See task script 
# 'arcshell_monitor_critical_os_files_for_changes.sh' for more details.
# Enable the task by setting this parameter to a "truthy" value.
sch_disable_task "arcshell_monitor_critical_os_files_for_changes.sh"

